@page
@model PopularizationCampaign.Pages.AboutModel
@{
    ViewData["Title"] = "За Нас";
}

@section Css {
    <link rel="stylesheet" href="~/css/about.min.css" asp-append-version="true">
}

    <div id="info" class="container pt-4">
        <h1 class="text-center">StudentsHelper</h1>
        <div id="description" class="mt-4">
            <p class="p-3">
                <span><strong>StudentsHelper</strong> е сайт за <strong>онлайн консултации</strong>.</span><br /><br />
                <span>
                    Чрез него <strong>ученици и учители</strong> могат лесно да провеждат уроци, без неудобствата на присъствените занятия. Както гласи и името му, той цели да <strong>помогне</strong> на учениците.
                </span><br /><br />
                <span>
                     Едно от приложенията му е, че дава възможност на учениците да провеждат <strong>мигновени консултации</strong>, в които да задават каквито въпроси имат и по този начин да <strong>задълбочат знанията си</strong> по предмета.
                </span><br /><br />
                <span>
                    Не по - малка по значение е възможността ученици от <strong>слабо населени райони</strong> да получат достъп до <strong>качествено образование</strong>, свързвайки се с учители от по – големи градове с висок рейтинг.
                </span><br /><br />
                <span>
                    <strong>
                        Учениците плащат само за времето прекарано заедно с учителя в срещата.
                    </strong>По този начин и двете страни могат да са спокойни.
                </span><br /><br />
                <span>
                    Не трябва да се подценява и възможността за <strong>планирани консултации</strong>. Така може ученик и учител да провеждат <strong>редовно</strong> своите консултации и да следят чрез <strong>календара на сайта</strong> кога е следващия им ангажимент.
                </span>
            </p>
        </div>
    </div>