@page
@model PopularizationCampaign.Pages.ThanksModel
@{
    ViewData["Title"] = "Благодаря";
}

<div class="pt-5">
    <h1 class="text-center pt-5" style="-webkit-text-stroke: 0.5px #62970b;font-size: 5rem;color: white;">Благодаря, че се записахте!</h1>
</div>